.groupOperator {
    border-left: 1px solid #ddd !important;
    border-top: 1px solid #ddd !important;
    border-bottom: 1px solid #ddd !important;
    transform: translateX(-10px) !important;
    float: left !important;
    margin-left: 1% !important;
    margin-top: -5px !important;
    margin-bottom: -5px !important;
    background-color: #eee !important;
    border-radius: 5px !important;
    padding: 5px !important;
}

.groupOperator .MuiSelect-outlined.MuiSelect-outlined {
    padding: 5px 32px 5px 10px !important;
}
